{
  "presets": ["next/babel"],
  "plugins": [
    "transform-decorators-legacy",
    "transform-flow-strip-types",
    [
      "import",
      {
        "libraryName": "antd",
        "style": false
      }
    ]
  ]
}